<body>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <b><%= name %></b><br/>
    <span class="hitheader">Hit Points</span>
    <div class="hitpoints">
        Current Hit Points: <button class="hp_minus">-</button><span class="hp_cur">(place holder)</span><button class="hp_plus">+</button><br/>
        Maximum hit points: <%= hp_max %><br/>
    </div>
    <script type="text/javascript">
        $.get("../character/<%= name %>/hp_cur",function(content){
            $('.hp_cur').text(content);
        });
        $(".hp_minus").click(function(){
            $.get("../character/<%= name %>/hp_minus",function(content){
                $('.hp_cur').text(content);
            });
        });
        $(".hp_plus").click(function(){
            $.get("../character/<%= name %>/hp_plus",function(content){
                $('.hp_cur').text(content);
            });
        });
    </script>
    <style type="text/css" src="/css/character.css"></style>
</body>
